{{ with .Site.Params.news }}
  {{ if .enable }}
  <section class="site-project" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range first 2 (where $.Site.RegularPages.ByDate.Reverse "Type" "news") }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="blog-thumb">
            </div>
            <div class="site-project-item-content">
              <span>{{ dateFormat "2000-01-01" .Params.date }} &#8212; {{ .Params.author }}</span>
              <h3>{{ .Title }}</h3>
              <a href="{{ .Permalink }}" class="read-more">Read more</a>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-left">
          <a href="news" class="site-project-cta">ALL POSTS</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}