{{ with .Site.Params.news }}
  {{ if .enable }}
  <section class="site-project" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range first 2 (where $.Site.RegularPages.ByDate.Reverse "Type" "news") }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <a href="{{ .Permalink }}"><img src="{{ .Params.Image | absURL }}" alt="blog-thumb"></a>
            </div>
            <div class="site-project-item-content">
              <span>{{ .Params.date | time.Format ":date_long" }} by {{ .Params.author }}</span>
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-left">
          <a href="news" class="site-project-cta">ALL POSTS</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}