<footer class="ucar-footer">
 <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-3">
        <div class="ucar-footer-widget">
          <h6><a href="https://www.ucar.edu/notification-copyright-infringement-digital-millenium-copyright-act">&copy; {{ now.Year }} UCAR</a></h6>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3">
        <div class="ucar-footer-widget">
          <h6><a href="https://www.ucar.edu/privacy-notice">Privacy</a></h6>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3">
        <div class="ucar-footer-widget">
          <h6><a href="https://www.ucar.edu/cookie-other-tracking-technologies-notice">Cookies</a></h6>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3">
        <div class="ucar-footer-widget">
          <h6><a href="https://www.ucar.edu/terms-of-use">Terms of Use</a></h6>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3">
        <div class="ucar-footer-widget">
          <h6><a href="https://www.ucar.edu/accessibility">Acessibility</a></h6>
        </div>
      </div>
      <div class="col-lg-1 col-sm-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://nsf.gov">NSF</a> </h6>
        </div>
      </div>
      <div class="col-lg-1 col-sm-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://ncar.ucar.edu">NCAR</a> </h6>
        </div>
      </div>
      <div class="col-lg-1 col-sm-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu">UCAR</a> </h6>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
