{{ with .Site.Data.whatwedo }}
  {{ if .enable }}
  <section class="site-panel">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mb-4">
            <h2>{{ .title }}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {{ range .items }}
        <div class="col-lg-3 col-md-6 py-3">
          <a href="{{ .url }}" class="text-decoration-none">
          <div class="site-panel-item ncar-blue pb-3">
            <p class="site-panel-item-body">
              <div class="person">
                <h5>{{ .name }}</h5>
              </div>
              {{ .quote }}
            </p>
          </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}