//site color variables
$body-color: #fff;
$primary-color: #1A658F;
$secondary-color: #012169;
$tertiary-color: #00797C;
$highlight-color: #A8C700;
$text-color: #6f7075;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;
$blue: #1A658F;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Roboto', sans-serif;