//site color variables
$primary-color: #1A658F;
$secondary-color: #012169;
$tertiary-color: #00797C;
$highlight-color: #A8C700;
$text-color: #6f7075;

// solid colors
$blue: #1A658F;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Roboto', sans-serif;