.site-metrics {
  background: $blue;
  padding: 50px 0;
  overflow: hidden;
  &-item{
    height: 100%;
    text-align: center;
    &-number {
      color: $white;
      margin-bottom: 5px;
      text-align: center;
      font-size: 4rem;
    }
    &-title {
      font-size: 1.2rem;
      color: $highlight-color;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}