{{ with .Site.Params.research }}
<section class="site-project-pubs">
   <ul class="site-hero-content-buttons">
     <li>
       <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
         <span class="btn-area">
           <span data-text="{{ .primary_button }}">
             {{ .primary_button }}
           </span>
         </span>
       </a>
     </li>
     <li>
       <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
         <span class="btn-area">
           <span data-text="{{ .secondary_button }}">
             {{ .secondary_button }}
           </span>
         </span>
       </a>
     </li>
   </ul>

</section>
{{ end }}
