{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2>{{ .Title }}</h2>
        <br>
        <p>
          {{ .Params.description }}
        </p>
        <br>
        <p>
          {{ .Params.purpose }}
        </p>
        <br>
        <p>
          {{ .Params.small_group }}
        </p>
      </div>
    </div>
  </div>
</section>

{{ partial "team.html" . }}

<section class="site-about-retirements">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h3>{{ .Params.second_title }}</h3>
        <br>
        <p>
          {{ .Params.second_description }}
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}
