<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container">
    <a class="navbar-brand" href="https://ncar.ucar.edu/who-we-are/funding">
      <img src="{{ "images/logos/NSF_4-Color_bitmap_Logo.png" | absURL }}" alt="logo" />
    </a>
    <a class="navbar-second-brand" href="">
      <img src="{{ "images/logos/ncar-vast-logo-navy.svg" | absURL }}" alt="logo" />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#sitenavbar"
      aria-label="menu"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ml-auto main-nav">
        {{$menu := (.Site.Menus.nav)}}
        {{$len := (len $menu)}}
        {{ range $index, $element := $menu }}
          <li class="nav-item">
            {{ if .HasChildren }}
            <div class="dropdown-container">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
                <li><a class="dropdown-item nav-link" a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            </div>
            {{ else }}
            <a class="nav-link" a href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end  }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
