{{ with .Site.Data.services_panels }}
  {{ if .enable }}
  <section class="site-panels">
    <div class="container">
      <div class="row">
        {{ range .items }}
        <div class="col-lg-4 col-md-6">
          <div class="site-panels-item ncar-blue">
            <div class="site-panels-item-header">
              <div class="thumb">
                <i class="{{ .thumb }}">
              </div>
            </div>
            <p class="site-panels-item-body">
              <div class="person">
                <h5>{{ .name }}</h5>
              </div>
              {{ .quote }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}