{{ with .Site.Data.triptych }}
  {{ if .enable }}
  <section class="site-triptych">
    <div class="container">
      <div class="row">
        {{ range .items }}
        <div class="col-lg-4 col-md-6">
          <div class="site-triptych-item ncar-blue">
            <div class="site-triptych-item-header">
              <div class="thumb">
                <img src="{{ .thumb | absURL }}" alt="user-thumb-one">
              </div>
            </div>
            <p class="site-triptych-item-body">
              <div class="person">
                <h5>{{ .name }}</h5>
              </div>
              {{ .quote }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}