<footer class="ucar-footer">
 <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <center> © {{ now.Year }} UCAR </center>
        </div>
      </div>
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu/privacy-notice">Privacy</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu/cookie-other-tracking-technologies-notice">Cookies</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu/terms-of-use">Terms of Use</a> </h5>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu/notification-copyright-infringement-digital-millenium-copyright-act">Copyright Issues</a> </h5>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="ucar-footer-widget">
          <center>
          <h6> <a href="https://nsf.gov">Sponsored by NSF</a> </h5>
          </center>
        </div>
      </div>
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://ncar.ucar.edu">NCAR Home</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-4">
        <div class="ucar-footer-widget">
          <h6> <a href="https://www.ucar.edu">UCAR Home</a> </h5>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
