.site-staticpage{
  &-header{
    padding-top:150px;
    text-align: center;
    padding-bottom: 10px;
    background-color: $gray; 
    @include mobile{
      padding-top: 100px;
    }
    h2{
     color: $text-color-dark;
    }
  }
  &-section{
    padding-top:40px;
    background-color: $white;
    @include mobile{
      padding-top: 60px;
      text-align: center;
    } 
  }
    &-details{
      padding-top:40px;
      background-color: $white;
      background-position: center center;
      img{
        max-width: 100%;
        margin-bottom: 20px;
      }   
      h2,h3,h4,h5,h6{
        margin-bottom: 15px;
      }   
      blockquote{
        p{  
          color: $text-color-dark;
          font-weight: 200;
        }   
      }   
      cite{
        margin-top: 10px;
        display: block;
      }   
    }   
}
