{{ define "main" }}
{{ with .Site.Data.realtimeproducts }}
{{ if .enable }}
<section class="site-realtimeproducts-header" style="background-image: url({{ .image | absURL }});">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          {{ .title }}
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="site-realtimeproducts-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-realtimeproducts-items">
          {{ if .url }}<a href="{{ .url }}">{{ end }}
            <li><b>{{ .product |  }}</b>" {{ .team }}{{ if .extra }}, {{ .extra }}{{ else }}{{ end }}.</li>
            {{ if .url }}</a>{{ end }}            
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
