.site-hero {
  position: relative;
  height: 550px;
  margin-top: 50px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray;
  padding-top: 100px;
  @include desktop {
    height: auto;
    padding: 200px 0;
  }
  @include mobile {
    padding: 150px 0;
  }
  &-content {
    h1 {
      margin-bottom: 15px;
      text-align: center;
      color: $white;
      @include desktop-lg {
        font-size: 50px;
        margin-bottom: 50px;
      }
      @include mobile {
        font-size: 40px;
        text-align: center;
      }
      a, a:hover {
        color: $white;
        text-decoration: none;
      }
    }
    h3 {
      font-size: 30px;
      margin-bottom: 15px;
      text-align: center;
      color: $highlight-color;
      @include mobile {
      }
      a, a:hover {
        color: $highlight-color;
        text-decoration: none;
      }
    }
    &-buttons {
      margin: 20px auto 100px auto;
      padding: 0;
      li {
        margin: 0px auto;
        display: block;
        @include mobile {
          margin: 0px auto;
          display: block;
        }
        .btn {
          font-weight: 600;
          border: solid 5px $highlight-color;
          background: none;
          margin: 0 auto;
          width: 50%;
          overflow: wrap;
          display: block;
          @include mobile {
            /*width: 90%;*/
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
  &-scroll {
    display: none;
    position: absolute;
    left: 50%; bottom: 100px;
    transform: translateX(-50%);
  }
}

.carousel {
  margin-top: 110px;
  height: 550px;
}

.carousel .carousel-inner {
  height: 550px;
}

.carousel-inner {
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center center;
}

.carousel-img .site-hero-content {
  margin-top: 130px;
}
