.site-panel {
  background: $gray;
  padding: 50px 0;
  overflow: hidden;
  &-item {
    background: $secondary-color;
    padding: 30px;
    height: 100%;
    color: #C3D7EE;
    text-align: center;
    .person {
      display: block;
      h5 {
        margin-bottom: 5px;
        color: $white;
        text-align: center;
      }
      p {
        margin-bottom: 0;
        color: $dark-gray;
      }
    }
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .thumb {
        width: 300px;
        img {
          width: 100%;
        }
        margin: 0 auto;
        display: block;
      }
    }
    &-body {
      margin-bottom: 0;
      font-weight: 300;
    }

  }
}