.site-services {
  &-header {
    background: $gray;
    padding-top: 180px;
    margin-bottom: 30px;
    @include mobile {
      padding: 100px 0 20px;
    }
    h1 {
      color: $white;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: 36px;
      line-height: 60px;
      padding-bottom: 0px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    h2 {
      margin: 30px 0 20px;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      color: $gray;
      @include mobile {
        font-size: 32px;
      }
    }
    h3 {
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include mobile {
        font-size: 35px;
      }
    }
    p {
      line-height: 30px;
      font-size: 18px;
      margin-bottom: 10px;
      color: $white;
    }
  }

  &-content {
    h4 {
      margin: 25px 0 5px;
      text-transform: uppercase;
      color: $secondary-color;
    }
    .col-lg-8 {
      padding-top: 10px;
    }
    .row {
      margin: 10px 0 30px;
    }
  }
}
