.ucar-footer {
  background:#332f21;
  padding: 15px 10px;
  &-widget {
    color: $white;
    @include desktop {
      margin-bottom: 20px;
    }
      text-align: center;
  }
  a {
    color: $white;
    transition: all 0.3s $site-ease;
    display: block;
  }
  a:hover {
   color: #bfd600;
   text-decoration: none;
  }

  h6 {
   font-weight: bold;
  }
}
